# 1.Identify Customers with High Purchase Frequency
import pandas as pd

data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

df = pd.DataFrame(data)


Task:
Group customers by Customer_ID and count the number of purchases per customer.

Identify the top 3 customers with the highest number of purchases.

Expected Output:
    Customer Purchase Frequency:
   Customer_ID  Purchase_Count
0         101               3
1         102               3
2         103               2
3         104               1
4         105               1

Top 3 Frequent Customers:
   Customer_ID  Purchase_Count
0         101               3
1         102               3
2         103               2

In [39]:
import pandas as pd
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

df = pd.DataFrame(data)
purchase_freq=df.groupby("Customer_ID").size().reset_index(name="Purchase_Count")
print("Customer Purchase Frequency: \n", purchase_freq)
freq_customer=purchase_freq.sort_values(by="Purchase_Count",ascending=False).head(3)
print("Top 3 Frequent Customers:\n",freq_customer)

Customer Purchase Frequency:
    Customer_ID  Purchase_Count
0          101               3
1          102               3
2          103               2
3          104               1
4          105               1
Top 3 Frequent Customers:
    Customer_ID  Purchase_Count
0          101               3
1          102               3
2          103               2

# 2. Find Students with the Highest Average Exam Scores
import pandas as pd

data = {'Student_ID': [201, 202, 203, 201, 204, 202, 201, 205, 202, 203],
        'Exam_Score': [85, 90, 78, 88, 92, 87, 80, 95, 89, 84]}

df = pd.DataFrame(data)

Task:
Calculate the average exam score per student.

Display the top 3 students with the highest average scores.

Expected Output:

Average Exam Scores per Student:
   Student_ID  Avg_Score
0        201   84.33
1        202   88.67
2        203   81.00
3        204   92.00
4        205   95.00

Top 3 Students:
   Student_ID  Avg_Score
0        205   95.00
1        204   92.00
2        202   88.67

In [111]:
import pandas as pd

data = {'Student_ID': [201, 202, 203, 201, 204, 202, 201, 205, 202, 203],
        'Exam_Score': [85, 90, 78, 88, 92, 87, 80, 95, 89, 84]}

df = pd.DataFrame(data)
average=df.groupby("Student_ID")["Exam_Score"].mean().round(2).reset_index(name="Avg_Score")
print(f"Average Exam Scores per Student:\n {average}")
top=average.sort_values(by="Avg_Score",ascending=False).head(3)
print(f"Top 3 Students:\n {top}")

Average Exam Scores per Student:
    Student_ID  Avg_Score
0         201      84.33
1         202      88.67
2         203      81.00
3         204      92.00
4         205      95.00
Top 3 Students:
    Student_ID  Avg_Score
4         205      95.00
3         204      92.00
1         202      88.67

# 3. Predict House Prices Using Linear Regression
Dataset:

import pandas as pd

data = {'Size_sqft': [1500, 1800, 2400, 3000, 3500, 4000],
        'Price': [300000, 350000, 450000, 550000, 650000, 700000]}

df = pd.DataFrame(data)
Task:
Train a Linear Regression model to predict house prices based on Size_sqft.

Predict the price of a house of size 2800 sqft.

Expected Output:
Predicted Price for 2800 sqft: $516491

In [75]:
import warnings
warnings.filterwarnings('ignore')

In [166]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

data = {'Size_sqft': [1500, 1800, 2400, 3000, 3500, 4000],
        'Price': [300000, 350000, 450000, 550000, 650000, 700000]}

df = pd.DataFrame(data)
X=df[["Size_sqft"]]
y=df["Price"]
model=LinearRegression()
model.fit(X,y)
result=model.predict([[2800]])
print(f"Predicted Price for 2800 sqft:${result[0]:.0f}")

Predicted Price for 2800 sqft:$516492

4. Identify the Most Commonly Purchased Products
dataset:
import pandas as pd

data = {'Product_ID': ['P101', 'P102', 'P103', 'P101', 'P104', 'P102', 'P101', 'P105', 'P102', 'P103'],
        'Purchase_Count': [5, 3, 4, 2, 1, 6, 7, 3, 2, 5]}

df = pd.DataFrame(data)
Task:
Group products by Product_ID and sum their Purchase_Count.

Identify the top 3 most purchased products.

Expected Output:

Product Purchase Counts:
   Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9
3       P104                1
4       P105                3

Top 3 Purchased Products:
   Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9

In [123]:
import pandas as pd

data = {'Product_ID': ['P101', 'P102', 'P103', 'P101', 'P104', 'P102', 'P101', 'P105', 'P102', 'P103'],
        'Purchase_Count': [5, 3, 4, 2, 1, 6, 7, 3, 2, 5]}

df = pd.DataFrame(data)
total=df.groupby("Product_ID")["Purchase_Count"].sum().reset_index(name="Total_Purchases")
print(f"Product Purchase Counts:\n{total}")
top=total.sort_values(by='Total_Purchases',ascending=False).head(3)
print(f"Top 3 Purchased Products:\n{top}")

Product Purchase Counts:
  Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9
3       P104                1
4       P105                3
Top 3 Purchased Products:
  Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9

5. Cluster Customers Based on Their Purchase Amounts
Dataset:
import pandas as pd

data = {'Customer_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'Total_Spend': [500, 1500, 2000, 2500, 3000, 3500, 4000, 1000, 1200, 2700]}

df = pd.DataFrame(data)

Task:
Apply K-Means Clustering to segment customers into 3 clusters.

Print the cluster labels for each customer.

Expected Output:
Customer Clusters:
   Customer_ID  Total_Spend  Cluster_Label
0            1          500              1
1            2         1500              1
2            3         2000              2
3            4         2500              2
4            5         3000              2
5            6         3500              0
6            7         4000              0
7            8         1000              1
8            9         1200              1
9           10         2700              2

In [159]:
import pandas as pd
from sklearn.cluster import KMeans

data = {'Customer_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'Total_Spend': [500, 1500, 2000, 2500, 3000, 3500, 4000, 1000, 1200, 2700]}

df = pd.DataFrame(data)
model=KMeans(n_clusters=3,random_state=0)
cluster=model.fit_predict(df[["Total_Spend"]])
df["Cluster_Label"]=cluster
print(f"Customers Clusters:\n{df}")

Customers Clusters:
   Customer_ID  Total_Spend  Cluster_Label
0            1          500              1
1            2         1500              1
2            3         2000              2
3            4         2500              2
4            5         3000              0
5            6         3500              0
6            7         4000              0
7            8         1000              1
8            9         1200              1
9           10         2700              2